<div>
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor <span highligth>sit amet consectetur adipisicing elit.</span> Laudantium, praesentium laborum in maxime deleniti nihil molestias, ipsam assumenda, quia eveniet dignissimos tempore minus architecto explicabo laboriosam esse magnam unde hic!</p>
    <p class="text-sm">Numero de clientes <app-counter [duration]="duration()" [message]="message()"/></p>
    <div>
        <app-wave-audio audioUrl="assets/Wave-Audio.mp3"/>
    </div>
</div>